:root
{
    --primario:#b9fdfd;
    --terceario: #0b8585;
    --secundario: #0b8585;
    --blanco:#7edad2;
    --oscuro: #212121;
    --gris: #757575;
    --verdeO: #245757
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size:  62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body
{
    font-size:  16px; /*1rem = 10px*/
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    background-color: #BEFFFC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(224,662,325)'%3E%3Cstop offset='0' stop-color='%23BEFFFC'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.14'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.titulo
{
    text-align: center;
    font-size: 1em;
    padding-bottom: 2rem;
}

.subtitulo
{
    padding-bottom: 2rem;
}

.titulo-resaltado
{
    text-align: center;
    font-size: 3.8rem;
    padding:3rem 0;
    color: var(--verdeO);
}

h1 span /*aplicamos al spam dentro de un h1*/
{
    font-size: 2rem;
    color: var(--verdeO)
}

/*barra de navegacion*/

.nav-principal
{
    display: flex;
    flex-direction: column;
    background-color: var(--primario);

}

.nav-principal .enlace
{

    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
    color: var(--oscuro);
    display: block;

}

.nav-principal .enlace:hover
{

    padding: 1rem;
    font-size: 2rem;
    text-decoration: none;
    color: var(--blanco);
    background-color:var(--terceario);
    border-bottom: 2px solid var(--blanco);

}

@media (min-width: 768px)
{

    .nav-principal
    {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;

    }
}

/*------------portada----------------*/

.hero
{
    /*background-image: url(image/hero.jpg);
    /*todas las imagenes se repiten*/
    /*por deafoukt*/
    background-repeat: no-repeat;
    /*cover para que tome todo el espacio*/
    background-size: cover;
    height: 55rem;
    /*el padre debe ser relativo*/
    position: relative;
}

.hero .contenido-hero
{
    position: absolute;
    color: var(--blanco);
    background-color: rgba( 0,0,0, .7 );
    background-color: rgb( 0 0 0 / 70% );
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero .ubicacion
{
    display:flex;
    align-items: flex-end;
    justify-content: center;

}

.hero .boton
{
    width: 90%;
    padding: 1rem 3rem;
    margin-top: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    border-radius:0.5rem;
    background-color: var(--primario);
    color: var(--verdeO);
}

@media (min-width: 480px)
{
    .hero .boton
    {
        width: auto;
    }
}

/*--------------servicios---------------*/
.servicios
{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    align-items: center;
    justify-content:center;
}

.servicio
{
    height: 40rem;
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 15px 0px rgb(112 112 112 / 48%);
    background-color: var(--blanco);
}

.servicio p
{
    padding: 0rem 2rem 0rem 2rem;
}

.servicio h3
{
    padding-top: 1.5rem;
    font-weight: 500;
    color: var(--verdeO);
}

.iconos
{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secundario);
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 8rem;
}

.servicio .iconos .icon
{
    border: 0rem;
    padding: 0rem;
    border-radius: 213em;
    fill:var(--blanco);
}

.servicio .boton
{
    width: 90%;
    padding: 1rem 0.5rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius:0.5rem;
    background-color: var(--primario);
    color: var(--blanco);
}

.clientes
{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    align-items: center;
    justify-content:center;
}

.cliente
{
    width: 65%;
    height: 40rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.8rem;
    position: relative;
    box-shadow: 0px 5px 15px 0px rgb(112 112 112 / 48%);
}

.persona1
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center top;

}

.nombrecliente
{
    background: linear-gradient(#0b8585, #0b8585);
    padding:1rem 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    display:flex;
    justify-content: center;
    width: 90%;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;


}

.nombrecliente .persona-nombre
{
    color: #ffffff;
}

.nombrecliente .persona-cargo
{
    color: #e6e6e6;
}

.icon-cliente
{
    font-size: 4rem;
    margin-right: 1rem;
    display: inline-block;
    color: #fff;
}

.icon-servicio
{
    font-size: 8rem;
    color: #fff;
}

.footer {
    border-top: 1px solid var(--gris);
    width: 70%;
    text-align: center;
    margin: 5rem auto 0 auto; /* Esto asegura que el footer esté centrado horizontalmente */
    padding: 2rem;
    font-size: 16px; /* Define explícitamente el tamaño de la letra */
}

@media (min-width: 768px)

{
    .servicios
    {
        flex-direction: row;
    }
    .servicio
    {
        width: 25%;
    }
    .clientes
    {
        flex-direction: row;
    }
    .cliente
    {
        width: 25%;
    }
}

@media (min-width: 768px)
{
    .titulo
    {
        font-size: 4rem;
    }
    .main-tabla
    {
        margin: 0 auto;
        width: 90%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }
}

.cont
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    padding-bottom: 0rem;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 15px 0px rgb(112 112 112 / 48%);
    background-color: var(--blanco);
}

.cotenedor
{
    max-width: 120rem;
    margin: 0 auto;
}

main
{
    display: block;
}

/*------------Administrador----------------*/

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura del 100% del viewport */
}

.container {
    max-width: 400px; /* Ancho máximo del contenedor del formulario */
    width: 100%;
}

.table, td, th {
    font-size: 12px; /* Aumenta el tamaño de fuente de toda la tabla */
}

.table {
    border-spacing: 12px; /* Espaciado entre celdas de la tabla */
}

.table th, .table td {
    padding: 12px; /* Espaciado interior de las celdas */
}

.btn, .btn-sm {
    font-size: 12px; /* Aumenta el tamaño de fuente de los botones */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    margin-right: 10px;
    font-weight: bold;
}

.form-group input[type="text"], .form-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ajustar el ancho */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

.form-group select {
    width: 100%; /* Ajustar el ancho */
    box-sizing: border-box; /* Incluir el padding en el ancho total */
}

/*Mecanico*/
.buttons {
    margin-bottom: 20px; /* Ajusta el valor según sea necesario */
}
